
<main class="container-home">
  <div class="jumbotron">
    <div class="container text-center">
      <h1><u>Thrift Barn</u></h1>
      <p>Bit 'O' Woods Farm</p>
    </div>
  </div>
<%= render "layouts/navbar.html" %>

<div class="item-title text-center">
    <h1><%= @item.short_desc %></h1></div>
<h2 class="item-title text-center"><%= @item.short_desc %></h2>
</main>
