<main class="container-home">

  <div class="jumbotron">

    <div class="container text-center">
Event Map</u></h1>
      <p>Bit 'O' Woods Farm</p>

    </div>
  </div>
  <%= render "layouts/navbar.html" %>



    <div class="row content">
      <div class="col-sm-9" id="map">
      <%# <div id="map">
      </div> %>
      </div>


  <div class="col-sm-3">
    <div id="content-window"></div>
  </div>
</div>
</div>







    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 41.876, lng: -87.624}
        });

        var ctaLayer = new google.maps.KmlLayer({
          url: 'https://s3.us-east-2.amazonaws.com/communitykml/Area+II.kml',
          map: map
        });
        ctaLayer.addListener('click', function(kmlEvent) {
    var text = kmlEvent.featureData.description;
    showInContentWindow(text);
  });

  function showInContentWindow(text) {
    var sidediv = document.getElementById('content-window');
    sidediv.innerHTML = text;
    }
  }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyr5QDS0ob48bawfcVidHAw4rJ7uxmwwk&callback=initMap">
    </script>
</main>
