
<main class="container-home">

  <div class="jumbotron">

    <div class="container text-center">

      <h1><u>Important Information</u></h1>
      <p>Bit 'O' Woods Farm</p>

    </div>
  </div>

  <%= render "layouts/navbar.html" %>
  <div class="container-fluid">



  <div class="col-sm-9">
  <%= render 'form' %>

<%= link_to 'Back', posts_path %>

</div>
    </div>
</main>
