<nav class="navbar navbar-expand-lg justify-content-between">
     <a class="navbar-brand" href="#">
       <img src="<%= image_url('navbar-icon') %>" width="40" height="40" class="d-inline-block align-top" alt="">
     </a>
     <ul class="navbar-nav align-self-center">
       <li class="nav-item">
         <a class="nav-link" href="/">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/items">Tack Trunk</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">The Lounge</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="https://goo.gl/maps/3u7Yq66F7hr">Show Schedule</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">To-Do</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/posts">Important Information</a>
       </li>
     </ul>
     <ul class="navbar-nav align-self-center">
       <li class="nav-item navbar-profile-icon">
         <a class="nav-link" href="#">HC</a>
       </li>
     </ul>
   </nav>
